<h1>タスク一覧</h1>

<ul>
    <table>
      <thead>
          <tr>
              <th>No.</th>
              <th>タスク</th>
              <th>status</th>
          </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tbody>
            <tr>
                <th><%= link_to task.id, task %></th>
                <td><%= task.content %></td>
                <td><%= task.status %></td>
            </tr>
        </tbody>
      <% end %> 
    </table>
    
  
</ul>

<%= link_to '新規タスクを登録する', new_task_path %>